#microscope-output-container{
    white-space: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#microscope-output-container ul{
    padding-left: 1.5rem;
}

#microscope-output-container a{
    color: rgb(29, 155, 240);
}

.switch-view{
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
    border: none;
    background: none;    
}

.switch-view-selected{
    text-decoration: underline;
}

.switch-view:hover{
    text-decoration: underline;
}

.d-none{
    display: none;
}